:root {
  --main-color: #24305E;
  --second-color: #EDF5E1;
  --last-color: #FC4445;
}
* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--main-color);
    color: var(--second-color);
  }

  /*navbar */
  nav {
    display: flex; 
    justify-content: space-between; 
    padding: 1.5rem 3rem; 
    background: var(--main-color); 
    align-items: center;
  }
  
  nav ul {
    display: flex; 
    list-style: none; 
  }
  
  nav li {
    padding-left: 4rem; 
    
  }
  
  nav a {
    padding: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50%;
    color: var(--second-color);
  }

  a i {
  color: #EDF5E1;

  }
  i{
    font-size: 20px;
  }

  nav a:hover{
    background: var(--last-color);
    border-color: black solid 1px;
  }

  nav h2{
    letter-spacing: 2px;
  }

  @media screen and (max-width: 900px) {
    nav li{
      padding-left: 1.5rem;
    }
    i{ 
      font-size: 20px;
    }
    nav{
      flex-direction: column-reverse;
      gap: 15px;
    }
    #acceuil{
      width: 75%;
    }
  }

  
  /*navbar */

  /*contact */
  .card {
    border: solid var(--second-color) 2px;
    border-radius: 10px;
    background: var(--last-color);
    width: 500px;
    height: 500px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%);
  }
  @media screen and (max-width: 900px) {
    .card{
      width: 300px;
      height: 400px;
    }
    .icon a i{
      font-size: 20px;
    }
  }
  
  .informations {
    text-align: center;
    margin-top: 100px;
  }
  
  .card img {
    width: 50%;
    border-radius: 50%;
    transition: all .3s;
    border: solid var(--second-color) 2px;
    background: var(--second-color);
  }

  .card h1, .card h2 {
    transition: all .3s;
    color: var(--second-color);
  }
  .card h1 {
    margin-top: 30px;
  }
  .card h2 {
    font-size: 20px;
  }
  
  .card:hover img, .card:hover h1, .card:hover h2 {
    transform: translateY(-50px);
  }

  .icon {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
  }
  
  .icon a i {
    margin: 10px;
    color: var(--second-color);
    transition: all .6s;
    transform: translateY(100px);
  }
  
  .card:hover .icon a i {
    transform: translateY(15px);
  }
  /* contact */

  /*à propos */

  .propos{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    width: 60%;
  }

  .propos h2{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 50px;
    font-size: 36px;
    box-shadow: 0 2px 5px black;
    border-radius: 50px;
  }


  .propos p {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .propos a{
    font-size: 20px;
    text-decoration: none;
    color: var(--second-color);
  }


  @media screen and (max-width: 1220px) {
    .propos{
      width: 100%;
    }
    .propos h2{
      height: fit-content;
      width: fit-content;
      font-size: 25px;
      padding: 5px;
    }
    .propos p{
      font-size: 20px;
    }
  }
  /*à propos */